frontend/node_modules
__pycache__/
*.pyc
/venv
.idea
*.xlsx
/backend/backend/settings/*
!/backend/backend/settings/__init__.py
!/backend/backend/settings/test.py
/backend/tesoreria-gest-74c64d7836b9.json
*.env*
*.env.*
.vscode
backend/events/migrations/*
backend/treasury/migrations/*