asgiref==3.8.1
attrs==25.3.0
Babel==2.17.0
crispy-bootstrap5==2025.4
Django==5.2
django-cors-headers==4.7.0
django-countries==7.6.1
django-crispy-forms==2.4
django-filter==25.1
django-money==3.5.4
django-phonenumber-field==8.1.0
django-phonenumbers==1.0.1
django-simple-history==3.8.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
Markdown==3.8
phonenumbers==9.0.4
psycopg2-binary==2.9.10
py-moneyed==3.0
python-decouple==3.8
referencing==0.36.2
rpds-py==0.24.0
setuptools==80.3.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
